.input-form-error{
	font-size: 12px;
	color : #ff5b5b;
	font-style: italic;	
}
td{
	vertical-align: middle!important;
}
th{
	text-align: center;
}
.order{
	text-align: center;
	max-width: 50px;
}
.w100{
	max-width: 100px;
}
.w200{
	max-width: 200px;
}
.w50{
	max-width: 50px;
}
.sortable{
	cursor: move;
}
.video_url_container{
	display: none;
}

.product-cat-btn > span{
	display:none;
}

.product-cat-btn > i > span{
	display:none;
}
.just-padding {
  padding: 15px;
}
.simple-tree-table-icon{
    color: #35b8e0;
    background-color: #35b8e0!important; 
	margin-right: 5px!important;	
}
.simple-tree-table-closed .simple-tree-table-icon:after {
	color: #FFFFFF;
}

.simple-tree-table-opened .simple-tree-table-icon:after {
	color: #FFFFFF;
}
.button-information-container{
	display:none;
}
ul.navbar-toolbar-right li.active{
	background-color: #c79b30;	
}
ul.navbar-toolbar-right li.active a{
	border-bottom: 3px solid #3b3e47
}